html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
b, strong{
	font-weight: bold;
}
i, em{
	font-style: italic;
}

/*---- grid ----*/
.container{
	margin: 0 0 20 20px;
	width: 960px;
}
.col-1,
.col-2,
.col-3 {
	float: left;
	margin: 10px 10px;
	padding-bottom: 20px;
}
.col-1 {
	width: 220px;
}
.col-2 {
	width: 460px;

}
.col-3 {
	border-bottom: 1px solid #888888;
	width: 700px;
}
.col-4{
	margin-bottom: 20px;
	width: 940px;
}

/*---- custom grid ----*/
.con1{
	margin: 0 50px;
	width: 700px;
}
.con2{
	margin: 0 50px;
	vertical-align: top;
	width: 905px;
}
.g1,
.g1b,
.g1here,
.g2,
.g3,
.g4,
.g5,
.g6,
.g7,
.g8,
.nav-gap-con,
.nav-gap-con2,
.nav-div,
.sub-title{
	float: left;
}
.g1,
.g1b,
.g1here{
	border-radius: 50%;
	font-family: 'Abril Fatface', helvetica, arial, sans-serif;	
	font-size: 14px;
	line-height: 100px;
	text-align: center;
}
.g1{
	background: black;
	height: 100px;
	width: 100px;
}
.g1b{
	border: 2px solid black;
	height: 96px;
	width: 96px;
}
.g1here{
	background: red;
	color: white;
	height: 100px;
	width: 100px;
}
.g2{
	border-bottom: 1px solid black;
	height: 49px;
	width: 500px;
}
.g3{
	height: 100px;
	width: 100px;
}
.g4{
	border-top: 1px solid black;
	height: 49px;
	width: 500px;
}
.g5{
	border-right: 2px solid black;
	height: 49px;
	width: 49px;
}
.g6{
	border-right: 2px solid black;
	height: 300px;
	width: 149px;
}
.g7{
	border-bottom: 1px solid black;
	height: 49px;
	width: 700px;
}
.g8{
	border-top: 1px solid black;
	height: 49px;
	width: 700px;
}
.nav-gap-con{
	height: 100px;
	width: 50px;
}
.nav-gap-con2{
	height: 100px;
	width: 150px;
}
.nav-gap-top{
	border-bottom: 1px solid black;
	height: 49px;
	width: 50px;
}
.nav-gap-bot{
	border-top: 1px solid black;
	height: 49px;
	width: 50px;
}
.nav-div{
	height: 20px;
	width: 550px;
}
.pullup{
	margin-top: -50px;
}
/*---- clear fix ----*/

.group:before,
.group:after {
	content: "";
	display: table;
}
.group:after {
	clear: both;
}
.group {
	clear: both;
	*zoom: 1;
}

/*----custom styles----*/

.home{
	background: url(img/eames-chair.png) 600px 320px no-repeat;
	margin-top: 20px;
}
.contact{

}
section{
	padding-left: 40px;
	padding-top: 20px;
}

/*----typograpgy----*/

h1, h2, h3{
	font-family: 'Abril Fatface', 'Donegal One', serif;
	font-weight: bold;
}
h4, h5, h6{
	font-family: 'Roboto Condensed', helvetica, arial, sans-serif
}

.main{
	padding-left: 190px;
}
h1{
	color: rgb(245,245,245);
	font-size: 48px;
	line-height: 90px;
	padding-left: 20px;
	padding-top: 10px;
	text-shadow: -1px -1px 0px black,
				1px 1px 0px black;
}
h2{
	font-size: 48px;
	line-height: 60px;
	padding-left: 20px;
}
.title{
	padding-left: 50px;
	padding-top: 50px;
}
h3{
	font-size: 36px;
	padding-bottom: 20px;
}
h4{
	font-size: 36px;
	line-height: 40px;
	padding-left: 40px;
}
h5{
	font-size: 24px;
	line-height: 22px;
}
h6{
	font-size: 18px;
	line-height: 20px;
}
p{
	font-family: 'Donegal One', serif;
	font-size: 14px;
	line-height: 24px;
}
/*----links----*/
a{
	color: green;
	text-decoration: none;
}
.g1 a{
	color: black;
}
.g1b a{
	color: white;
}
a:hover{

}
.g1 a:hover{
	color: white;
}
.g1b a:hover{
	color: black;
}
.button{
	border-radius: 50%;
	display: block;
	height: 100%;
	line-height: 100px;
	text-decoration: none;
	width: 100%;
}
/*----lists----*/

dl{

}
dt{
	font-family: 'Roboto Condensed', helvetica, arial, sans-serif;
	font-size: 18px;
	font-weight: bold;
	line-height: 27px;
	text-decoration: underline;
}
dd{
	font-family: 'Donegal One', serif;
	font-size: 14px;
	line-height: 24px;
	padding-bottom: 20px;
}
li{
	line-height: 24px;
}
ol{
	font-family: 'Donegal One', serif;
	font-size: 14px;
	line-height: 18px;
	list-style: decimal;
	padding-bottom: 20px;
}
ul{
	font-family: 'Donegal One', serif;
	font-size: 14px;
	line-height: 18px;
	list-style: disc;
}
.bullets{
	padding: 0px 20px;
}

/*----misc styles----*/

li{
	line-height: 24px;
}
ol{
	font-size: 14px;
	list-style: decimal;
	padding-bottom: 20px;
}
ul{
	font-size: 14px;
	list-style: disc;
}
.bullets{
	padding: 0px 20px;
}
.loc{
	color: #888888;
	font-size: 14px;
	font-style: italic;
	font-weight: normal;
}
/*----header----*/

header{
	border-bottom: 2px solid rgb(100,100,100);
	padding-bottom: 20px;
	padding-top: 20px;
}
.sub-title{
	float: left;
	height: 220px;
	width: 410px;
}

/*----nav----*/
.sub-nav{
	float: right;
	height: 220px;
	margin-top: -220px;
	overflow: hidden;
	width: 550px;
}

/*----footer----*/

footer{
	padding-bottom: 50px;
}
footer p{
	color: rgb(100,100,100);
	font-size: 12px;
	line-height: 20px;
	text-align: center;
}