html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
b, strong{
	font-weight: bold;
}
i, em{
	font-style: italic;
}

/*---- clear fix ----*/

.group:before,
.group:after {
	content: "";
	display: table;
}
.group:after {
	clear: both;
}
.group {
	clear: both;
	*zoom: 1;
}

/*----custom styles----*/

body{
	font-family: 'helvetica neue', helvetica, arial, sans-serif;
}

.label{
	background: rgba(55,125,60,1);
	margin-bottom: 200px;
	margin-top: 60px;
	position: fixed;
	text-transform: uppercase;
	width: 100%;
	z-index: 1;
}
.header-fix{
	height: 94px;
}
/*----typograpgy----*/

h1, h2, h3, h4, h5, h6{
	font-family: 'Droid Sans', 'helvetica neue', helvetica, arial, sans-serif;
}
h1{
	font-size: 48px;
	line-height: 60px;
}
h2{
	font-size: 36px;
	line-height: 45px;
}
h3{
	font-size: 24px;
	line-height: 34px;
}
h4{
	border-bottom: 2px solid #ccc;
	padding: 5px 10px;
	font-size: 18px;
	line-height: 22px;
}
h5{
	font-size: 16px;
	line-height: 20px;
}
p{
	font-size: 14px;
	line-height: 20px;
}
header h1{
	color: #666;
	letter-spacing: -2px;
	font-weight: 400;
}
.label h3{
	color: #555;
	font-family: 'Open Sans Condensed','helvetica neue', helvetica, arial, sans-serif;
	position: relative;
	left: 20px;
}
footer h5{
	text-shadow: 0 1px 1px #9d9;
}
.show_page section h5{
	margin-bottom: 20px;
	margin-top: 16px;
}
/*----links----*/
.co_info a{
	color: rgb(55,125,60);
	text-decoration: none;
}
.co_info a:hover{
	text-decoration: underline;
}
/*----lists----*/
dt{
	display: block;
	font-family: 'Droid Sans', 'helvetica neue', helvetica, arial, sans-serif;
	margin-bottom: 10px;
	padding-top: 10px;
}
dd{
	font-family: 'Open Sans Condensed','helvetica neue', helvetica, arial, sans-serif;
	padding-left: 10px;	
	line-height: 20px;
}

/*----misc styles----*/

.center{
	text-align: center;
}
.bling{
	color: rgb(55,125,60);
	font-weight: 700;
}

caption{
	font-family: 'Droid Sans', 'helvetica neue', helvetica, arial, sans-serif;
	font-size: 21px;
	font-weight: bold;
	padding: 15px;
	text-align: center;
}
.section_nav{
	display: block;
	position: center;
}
.section_nav a{
	background: linear-gradient(rgb(245,245,245),rgb(220,220,220));
	border: 1px solid #ddd;
	border-radius: 3px;
	color: #666;
	display: inline-block;
	margin: 20px 20px;
	padding-bottom: 20px;
	padding-top: 20px;
	text-align: center;
	text-decoration: none;
	width: 230px;
}
.section_nav a:hover{
	background: linear-gradient(rgb(235,235,235),rgb(205,205,205));
}
table{
	border: 1px solid #888;
	border-collapse: separate;
	border-spacing: 2px;
	margin: 20px auto;
}
th{
	background: linear-gradient(#eef,#ccd);
	border: 1px solid #999;
	font-family: 'Open Sans Condensed','helvetica neue', helvetica, arial, sans-serif;
	font-size: 18px;
	font-weight: 500;
	padding: 10px;
}
td{
	background: #f9f9fe;
	font-family: 'helvetica neue', helvetica, arial, sans-serif;
	font-size: 14px;
	border: 1px solid #888;
	padding: 10px 15px;
}
td a{
	color: rgb(55,125,60);
	text-decoration: none;
}
td a:hover{
	text-decoration: underline;
}
tfoot td{
	color: #888;
	font-family: serif;
	font-size: 12px;
	text-align: right;
}
/*----header----*/
header{
	background: linear-gradient(rgb(245,255,245), rgb(190,195,220));
	border-bottom: 1px solid #888;
	margin-bottom: 60px;
	position: fixed;
	width: 100%;
	z-index: 1;
}
#banner_1{
	background: url(img/cranes.jpg) no-repeat 0 -400px;
	background-position: center;
	background-size: cover;
	height: 350px;
	width: 100%;
}
#banner_2{
	background: url(img/bridge.jpg) no-repeat 0 -400px;
	background-position: center;
	background-size: cover;
	height: 350px;
	width: 100%;
}
#banner_1 .banner_text,
#banner_2 .banner_text{
	color: #fff;
	margin-top: 50px;
	padding-top: 30px;
}
#banner_1 .banner_text{
	background: rgba(25,120,25,.8);
}
#banner_2 .banner_text{
	background: rgba(205,90,75,.8);
}

#banner_2 .banner_text a{
	border: 1px solid #fff;
	color: #fff;
	display: block;
	font-family: 'Open Sans Condensed','helvetica neue', arial, sans-serif;
	margin: 15px;
	padding: 15px;
	text-align: center;
	text-decoration: none;
	width: 100px;
}
#banner_2 .banner_text a:hover{
}

/*----nav----*/
.bread_crumb{
	padding: 0 5px;
}
.home_nav,
.show_nav{
	float: right;
}
.home_nav a,
.home_nav li,
.show_nav li{
	float: left;
	font-family: 'Open Sans Condensed','helvetica neue', helvetica, arial, sans-serif;
	font-size: 14px;
	line-height: 60px;
}
.show_nav li a,
.home_nav li a{
	display: inline-block;
	text-decoration: none;
}
.home_nav li a{
	color: #555;
	padding: 0 10px;	
}

.home_nav li a:hover{
	background: rgb(180,180,190);
	color: #fff;
}
.show_nav li a{
	color: rgb(55,125,60);	
}
.show_nav li a:hover{
	text-decoration: underline;
}

footer a{
	color: #ddd;
	font-family: 'Open Sans Condensed','helvetica neue', helvetica, arial, sans-serif;
	font-size: 14px;
	text-decoration: none;
}
footer a:hover{
	color: #222;
}
/*----footer----*/
footer{
	background: linear-gradient(to top right, rgba(55,125,60,.8), rgba(55,125,60,.5));
	padding-top: 20px;
}

footer li{
	padding: 5px 0;
}
footer ul{
	list-style: none;
	padding: 5px 0;
}
.sub_footer{
	background-color: #ccc;
	color: #444;
	padding: 20px;
	text-align: center;
}
.sub_footer p{
	font-family: serif;
	font-size: 12px;
}